.priceList_card {
  width: 250px;
  height: 250px;
  background-color: silver;
  padding: 10px;
  h2 {
    color: sienna;
    margin-top: 0px;
  }
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.priceList_card__cardRow {
  display: flex;
  justify-content: space-between;
}

.btcImg {
  width: 39px;
  height: 39px;
}

.innerCol {
  span {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
  }
}

.priceList_card__col {
  h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0px;
  }
}

.decrease {
  color: red;
  margin-top: 7px;
  &::after {
    content: "\2193";
    font-size: 2em;
    padding-left: 0.5px;
    vertical-align: -0.1em;
  }
}

.increase {
  color: green;
  margin-top: 7px;
  &::after {
    content: "\2191";
    font-size: 2em;
    padding-left: 0.5px;
    vertical-align: -0.1em;
  }
}
@media all and (max-width: 769px) {
  .priceList_card {
    width: 90%;
    margin-bottom: 10px;
  }
}
